<p id="notice"><%= notice %></p>

<p>
  <strong>Ito:</strong>
  <%= @trabajo.ito %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @trabajo.detalle %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @trabajo.valor %>
</p>

<p>
  <strong>Op:</strong>
  <%= @trabajo.op %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @trabajo.factura %>
</p>

<p>
  <strong>Terminado:</strong>
  <%= @trabajo.terminado %>
</p>

<%= link_to 'Edit', edit_trabajo_path(@trabajo) %> |
<%= link_to 'Back', trabajos_path %>
